@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif', serif;
  background-color: #212F3C ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  }
