@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #D3D3D3;
}

table tr {
  background-color: #d3d3d3;
  height: 40px;
}

.booksform {
  width: 40%;
  margin: 2% auto;
  text-align: center;
  background-color: white;
  padding: 10px;
}

.form {
  display: inline;
}

input,
select {
  width: 90%;
  margin: 10px;
  height: 25px;
}

form button {
  width: 50%;
  height: 30px;
  background-color: orangered;
  border: none;
  color: white;
  border-radius: 5px;
}

.booksform h3 {
  background-color: #212f3c;
  color: white;
  margin: 5px;
  padding: 5px;
}

.Bookstore-CMS {
  width: 240px;
  height: 37px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
  margin: 0px;
}

.panel-bg {
  background-color: #ffffff;
  margin: 0px;
  padding: 1% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BOOKS {
  font-family: Montserrat;
  font-size: 13px;
  letter-spacing: 1.9px;
  color: #121212;
  margin-left: 30px;
}

.CATEGORIES {
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 13px;
  letter-spacing: 1.9px;
  color: #121212;
  margin-left: 30px;
}

.left-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  color: #0290ff;
  padding: 5px;
  border-radius: 50%;
  border: solid 1px #e8e8e8;
}

.booklistcont{
  width: 80%;
  margin: 2% auto;
}

.book {
  background-color: white;
  width: 100%;
  margin: 1% 0;
  padding: 1% 2%;
}

.School-of {
  margin: 0px;
  opacity: 0.5;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 13px;
  color: #121212;
}

.title {
  margin:5px 0px;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: bold;
  color: #121212;
}

.btndiv button {
  background-color: transparent;
  border: none;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 300;
  color: #4386bf;
  opacity: .8;
  margin-right:5px;
}
